extends ../layouts/application

block content
  ul
    li
      | id:&nbsp;
      span#id
    li
      | count:&nbsp;
      span#count
    li
      | data:&nbsp;
      span#data

    br
    a(id="close" target="_blank")
      button CLOSE

