html
  head
    title test
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/event-source-polyfill/0.0.7/eventsource.js")
  body
    p#event
    p#id
    p#data

    script(src="/javascripts/users/stream.js")
