doctype html
html
  head
    title node-koa2-babel-sse-study
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/assets/' + main.css)
    script(src='/assets/' + main.js)
  body
    block content
